<launch>
<group>
        <node pkg="coop_localization" type="pyramidtip" name="square1" output="screen" ns="/iris1">
            <param name="namespace" value="/iris1"/>
            <param name="use_sim_time"  value="true" />
            <param name="id" value="1" />
            <param name="height" value="5" />
        </node>
</group>

<group>
        <node pkg="coop_localization" type="pyramidtip" name="square2" output="screen" ns="/iris2">
            <param name="namespace" value="/iris2"/>
            <param name="use_sim_time"  value="true" />
            <param name="id" value="2" />
            <param name="height" value="5" />
        </node>
</group>

<group>
        <node pkg="coop_localization" type="pyramidtip" name="square3" output="screen" ns="/iris3">
            <param name="namespace" value="/iris3"/>
            <param name="use_sim_time"  value="true" />
            <param name="id" value="3" />
            <param name="height" value="5" />
        </node>
</group>

<group>
        <node pkg="coop_localization" type="pyramidtip" name="square4" output="screen" ns="/iris4">
            <param name="namespace" value="/iris4"/>
            <param name="use_sim_time"  value="true" />
            <param name="id" value="4" />
            <param name="height" value="5" />
        </node>
</group>

<group>
        <node pkg="coop_localization" type="pyramidbase" name="square5" output="screen" ns="/iris5">
            <param name="namespace" value="/iris5"/>
            <param name="use_sim_time"  value="true" />
            <param name="id" value="5" />
            <param name="height" value="2" />
        </node>
</group>
 </launch>
