<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find coop_localization)/worlds/runway.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- <include file="$(find coop_localization)/launch/multi_mavros.launch"/>
  <node pkg="coop_localization" type="tf_publisher.py" name="tf_publisher" output="screen">
    <param name="num" value="4"/>
  </node>
  <include file="$(find coop_localization)/launch/transforms.launch" /> -->
</launch>
